<!DOCTYPE html>
<html lang="en">
<body>
<form action="/users/ver" method="POST">
  <p><%= otp.otp%></p>
   <input type="number" name="otp" placeholder="otp">
  <input type="text" name="detail" value="<%= detail.det%>">
    <input type="text" name="phone" value="<%= phone.phone%>">
 
  <input type="submit">add money</input>
</form>
</body>
</html>
