<!DOCTYPE html>
<html lang="en">
<body>
<form action="/users/phone" method="POST">
   <input type="number" class="form-control" id="exampleInputPhone" aria-describedby="phoneHelp" placeholder="Enter Contact Number" name="phone" required="true">
   <input type="submit">
</form>
</body>
</html>
