
<!DOCTYPE html>
<html ng-app="myapp">
<head>
  <title>Register | Grocers</title>
  <% include ./header %>
      <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
      <link href="https://fonts.googleapis.com/css?family=Metamorphous" rel="stylesheet">

   <style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #3b3460;
   color: white;
   text-align: center;
}
</style>

</head>

<body ng-controller="myctrl" >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">GROCERS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <% if(!user)
            {%>
            <li class="nav-item"><a href="/users/phone"><button class="btn btn-outline-secondary">+ Add Item</button></a></li>
            <li class="nav-item"><a href="/users/register"><button class="btn btn-outline-secondary"><span class="glyphicon glyphicon-user"></span> Sign Up</button></a></li>
            <li class="nav-item"><a href="/users/login"><button class="btn btn-outline-secondary"><span class="glyphicon glyphicon-log-in"></span> Login</button></a></li>
              
              <%} %>
              <% if(user)
              {%>
              <li class="nav-item"><a href="/item/additem"><button class="btn btn-outline-secondary">+ Add Item</button></a></li>
              <li class="nav-item"><a href="/users/logout"><button class="btn btn-outline-secondary"><span class="glyphicon glyphicon-log-out"></span> Logout</button></a></li>
              <li><form class="form-inline" action="cart/showcart" method="post">
                <input type="text" name="user" hidden="hidden" value=<%=user.cartid%>>
                <button class="btn btn-outline-secondary" type="submit" name="cart"><span class="glyphicon glyphicon-shopping-cart"></span> cart</button>
              </form></li>
                <%} %>
            </li>
          </ul>
        </div>
      </nav> 
      <BR>
    
<!-- Sign up -->
 <div class="container">    
                 <% if (error)
                      {%>
                     <% for (var i=0;i<error.length;i++)
                       {%>
                   <div class="alert alert-danger"><%= error_msg %></div>
                        <%}
                      %>
                        <%} %>
                        <div class="row">
                            <div class="col-md-7 mx-auto">
                                    <form id="signupform" class="form-horizontal" role="form" action="/users/register" action="/cart/addcart" accept-charset="UTF-8" method="POST">
                                        <div id="signupalert" style="display:none" class="alert alert-danger">
                                            <p>Error:</p>
                                            <span></span>
                                        </div>
                                        <div style="margin-bottom: 25px" class="input-group">
        
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user text-primary"></i></span>
                                                <input type="text" class="form-control" name="name" placeholder="Full Name" autofocus="autofocus" required="true" >
                                           
                                        </div>
                                           <div style="margin-bottom: 25px" class="input-group">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope text-primary"></i></span>
                                              <input type="email" class="form-control" id="exampleInputEmai1" aria-describedby="emailHelp" placeholder="Enter Email Address" name="email" required="true">
                                              
                                          </div>
                                           <div style="margin-bottom: 25px" class="input-group">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope text-primary"></i></span>
                                              <input type="number" value="<%= detail.phone%>"  class="form-control" id="exampleInputPhone" aria-describedby="phoneHelp" placeholder="Enter Contact Number" name="phone" required="true">
                                              
                                          </div>
        
                                          
                                           <div style="margin-bottom: 25px" class="input-group">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope text-primary"></i></span>
                                              <input type="text" class="form-control" placeholder="Enter House No." name="houseno" required="true">
                                             
                                          </div>
        
                                          
                                           <div>
                                           <div style="margin-bottom: 25px" class="input-group">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope text-primary"></i></span>
                                              <input type="text" class="form-control" placeholder="Enter Locality" name="locality" required="true">
                                              
                                          </div>
        
                                          </div>
                                           <div>
                                           <div style="margin-bottom: 25px" class="input-group">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope text-primary"></i></span>
                                              <select name="city" class="form-control">
                                                <option value="Rohtak">Rohtak</option>
                                                <option value="Bhiwani">Bhiwani</option>
                                                </select> 
                                          </div>
        
                                          </div>
                                           <div>
                                           <div style="margin-bottom: 25px" class="input-group">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope text-primary"></i></span>
                                              <select name="state" class="form-control">
                                                <option value="Haryana">Haryana</option>
                                                </select>
                                          </div>
                                          </div>
                                       
                                           <div>
                                        <div style="margin-bottom: 25px" class="input-group">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-usd text-primary"></i></span>       
                                              <input type="text" class="form-control" id="exampleInputContact" aria-describedby="ContactHelp" placeholder="Choose UserName" name="username" required="true">
                                                                         
                                        </div>
                                          </div>
                                        
                                             <div>
                                             <div style="margin-bottom: 25px" class="input-group">
                                               <span class="input-group-addon"><i class="glyphicon glyphicon-lock text-primary"></i></span>
                                                <input type="password" class="form-control" id="password" placeholder="Password" name="password" required="true">
                                                
                                        </div>
                                           </div>
                                       
                                             <div>
                                             <div style="margin-bottom: 25px" class="input-group">
                                               <span class="input-group-addon"><i class="glyphicon glyphicon-lock text-primary"></i></span>
                                                <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password" name="password2" required="true">
                                                <div id='message'></div>
                                           
                                        </div>
                                          </div>
                                          <button class="btn btn-info" type="submit" name="commit" id="submit_button"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                                        </div>
                                         
                                          <script>
                                          
                                           $(document).ready(function() {
                                          $('#password, #confirm_password').on('keyup', function () {
                                             if($('#confirm_password').val()!="")
                                             {
                                             if ($('#password').val() == $('#confirm_password').val()) {
                                                 $('#message').html('Password Match').css('color', 'green');
                                                    } else 
                                                $('#message').html('Password Not Match').css('color', 'red');
                                                    }    
        
                                                        });
                                                             });
        
                                                      </script>
                                    </form>
                            </div>
                        </div>
        <div class="panel-body" >
                            
                         
                         </div>
                    </div>
         
    
<script src="https://use.fontawesome.com/bc4369196c.js"></script>
</body>
</html>